<!-- <div class="parallax main-first">
    <div class="filter">
    <div class="text" data-aos="fade-left" data-aos-delay="500">UKS DANCE LIFE</div>
    <div class="separator" data-aos="fade-down" data-aos-delay="100"></div>
    <div class="text quot" data-aos="fade-right" data-aos-delay="1000">&quot;...z miłości do tańca&quot;</div>
    <div class="arrow-down blink" (click)="scroll(info)" data-aos="fade-up" data-aos-delay="3000">
        <fa-icon class="arrow"  [icon]="faChevronDown"></fa-icon>
    </div>
</div>
</div>
<section class="main intro"  #info>
    <h1 data-aos="fade-up" class="title-black">Opis pierwszy</h1>
    <p data-aos="fade-up" class="desc">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</section> -->
<!-- <section class="main" style="background-color: #fcfcfc" >
    <div data-aos="fade-up" class="title">
        <h1>Oferta</h1>
    </div>
    <div data-aos="fade-up" class="offers">
        <div class="offer">
            <div class="img wedding"></div>
            <div class="title"><h2>Pierwszy taniec</h2></div>
            <div class="offer-link" data-aos="fade-up"><p>Zobacz ofertę</p></div>
        </div>
        <div class="offer">
            <div class="img ladies_latino"></div>
            <div class="title"><h2>Ladies Latino</h2></div>
            <div class="offer-link" data-aos="fade-up"><p>Zobacz ofertę</p></div>
        </div>
        <div class="offer">
            <div class="img couple"></div>
            <div class="title"><h2>W parach</h2></div>
            <div class="offer-link" data-aos="fade-up"><p>Zobacz ofertę</p></div>
        </div>
        <div class="offer">
            <div class="img kids"></div>
            <div class="title"><h2>Dla dzieci</h2></div>
            <div class="offer-link" data-aos="fade-up"><p>Zobacz ofertę</p></div>
        </div>
        <div class="offer"> <div class="img middle"></div>
        <div class="title"><h2>Dla młodzieży</h2></div>
        <div class="offer-link" data-aos="fade-up"><p>Zobacz ofertę</p></div></div>
       
        <div class="offer">
            <div class="img old"></div>
            <div class="title"><h2>Dla seniorów</h2></div>
            <div class="offer-link" data-aos="fade-up"><p>Zobacz ofertę</p></div>
        </div>
    </div>
</section> -->
<div class="box">
    <h1 class="title-segment">Oferta</h1>
    <h1 class="title-subsegment">Dla najmłodszych</h1>
    <!-- <h1 class="title-subsegment">Ladies Latino</h1> -->
    <div class="offers">
        <!-- <div class="row">
            <div class="offer">
                <img src="assets/img/main.jpg">
            </div>
            <div class="separator"></div>
            <div class="offer">
                <h1 class="title-black">Ladies Latino</h1>
                <p class="desc">Lorem ipsum jasjuindas dnu dsna adjsu ncas auisdsaxcmk asbndsa dsasd nusan xasc nkjsc judsaus auis asu das</p>
            </div>
        </div> -->
       
        <div class="element kids_mix">
            <div class="filter">
                <h1 class="title-white">Taneczny mix malucha</h1>
                <p >dla dziecie w wieku 3-5 lat</p>
                <button routerLink="/about">Zapisz się</button>
            </div>
        </div>
        <div class="element kids_basic">
            <div class="filter">
                <h1 class="title-white">Taniec</h1>
                <p >gr. początkująca (dla dzieci od 6 r.ż.) </p>
                <button routerLink="/about">Zapisz się</button>
            </div>
        </div>
        <div class="element kids_couple_sport">
            <div class="filter">
                <h1 class="title-white">TANIEC TOWARZYSKI</h1>
                <p >grupa sportowa</p>
                <button routerLink="/about">Zapisz się</button>
                <!-- <div class="split">
                    <div class="col">
                        <p >grupa sportowa</p>
                        <button routerLink="/about">Zapisz się</button>
                    </div>
                    <div class="separator"></div> 
                    <div class="col">
                        <p >grupa rekreacyjna (dla dzieci od 6 r.ż.)</p>
                        <button routerLink="/about">Zapisz się</button>
                    </div>
                </div> -->
           
            </div>
        </div>
        <!-- <div class="element kids_couple">
            <div class="filter">
                <h1 class="title-white">TANIEC TOWARZYSKI</h1>
                <p >grupa rekreacyjna (dla dzieci od 6 r.ż.) 
                </p>
                <button routerLink="/about">Zapisz się</button>
            </div>
        </div> -->
    </div>
    <h1 class="title-subsegment">Dla młodzieży</h1>
    <div class="offers">

        <div class="element couple">
            <div class="filter">
                <h1 class="title-white">Kurs tańca towarzyskiego</h1>
                <button >Zapisz się</button>
            </div>
        </div>
        <div class="element polonaise">
            <div class="filter">
                <h1 class="title-white">PRZEDSTUDNIÓWKOWY KURS TAŃCA </h1>
                <p >Grupa początkująca</p>
                <button>Zapisz się</button>
            </div>
        </div>

    </div>
    <h1 class="title-subsegment">Dla dorosłych</h1>
    <div class="offers">
        <div class="element couple_basic">
            <div class="filter">
                <h1 class="title-white">Kurs tańca towarzyskiego</h1>
                <button >Zapisz się</button>
            </div>
        </div>
        <div class="element couple_use">
            <div class="filter">
                <h1 class="title-white">Kurs tańca użytkowego</h1>
                <button >Zapisz się</button>
            </div>
        </div>
        <div class="element couple_latino">
            <div class="filter">
                <h1 class="title-white">ZAJĘCIA LATINO DLA PAR</h1>
                <button >Zapisz się</button>
            </div>
        </div>
        <div class="element solo_latino">
            <div class="filter">
                <h1 class="title-white">LADIES LATINO SOLO </h1>
                <button >Zapisz się</button>
            </div>
        </div>
    </div>
    <h1 class="title-subsegment">Zajęcia fitness</h1>
    <div class="offers">
        <!-- <div class="element bachata">
            <div class="filter">
                <h1 class="title-white">BACHATA</h1>
                <button routerLink="/about">Zapisz się</button>
            </div>
        </div> -->
        <div class="element zumba">
            <div class="filter">
                <h1 class="title-white">ZUMBA</h1>
                <p >Fajny taniec</p>
                <button routerLink="/about">Zapisz się</button>
            </div>
        </div>
        <div class="element step">
            <div class="filter">
                <h1 class="title-white">step fitness</h1>
                <button routerLink="/about">Zapisz się</button>
            </div>
        </div>
    </div>
    <h1 class="title-subsegment">Pozostałe</h1>
    <div class="parallax others">
        <div class="filter">
            <div class="element">
                
                    <h1 class="title-white">Pierwszy taniec</h1>
                    <button routerLink="/about">Zapisz się</button>
                
            </div>
            <div class="element">
            
                    <h1 class="title-white">Zajęcia indywidualne</h1>
                    <button routerLink="/about">Zapisz się</button>
            
            </div>
            <div class="element">
               
                    <h1 class="title-white">KURS TAŃCA PRO-AM </h1>
                    <button routerLink="/about">Zapisz się</button>
                
            </div>
        </div>
    </div>
</div>