.footer{
  height: 300px;
  width: 100vw;
  padding:  20px 20px 20px 152px;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  .column{
    flex-basis: 100%;
    padding: 10px;
    text-align: center;
    img{
      width: 40px;
      filter: grayscale(70%);
      &:hover{
        filter: grayscale(0%);
      }
    }
    h2{
      font-size: 30px;
      color: white;
      text-align: center;
  
    }
    .title{
      color: grey;
      font-size: 25px;
      font-weight: 500;
    }
      a{
        cursor: pointer;
        height: 40px;
        margin-right: 20px;
        color: lightgrey;
        text-decoration: none;
        margin-top: 20px;
        img{
          margin-top :20px;
        }
      }
    .small{
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 16px;
      color: #059ced;
      fa-icon{
        padding-right: 10px;
        color: #059ced
      }
    }
  }
  

}
