<div class="footer">
    <div class="column">
        <div class="title">Tu jesteśmy zawsze!</div>
        <!-- <p>Prosimy o kontakt na adres mailowy: costam@djfndfs.pl lub</p> -->
        <a href="https://www.facebook.com/uksdancelifeinowroclaw" target="_blank"><img src="assets/img/facebook.svg"></a>
        <a href="https://www.instagram.com/uksdancelife/?hl=pl" target="_blank"><img src="assets/img/insta.svg"></a>
        <div class="title small">
            <fa-icon  [icon]="faMapMarker"></fa-icon>Inowrocław
        </div>
        <a>Polityka prywatności</a>
    </div>
    <!-- <div class="column">
        <div class="title">Polityka prywatności</div>
    </div> -->
    <!-- <h2>
        
    </h2> -->
</div>