.main{
    width:100%;
    padding: 50px 50px 50px 50px;
    text-align: center;
    
    .overflow{
        overflow-x: auto;
        
    }

    h1{
        overflow-wrap: break-word;
    }
    table{
        // table-layout: fixed;
        border: #000;
        margin: auto;
        width: 90%;
        min-width: 400px;
        max-width: 1000px;
        border-collapse: collapse;
        th{
            font-size: 22px;
            font-weight: 600;
            color: white;
            // background:  #343434;
            // background: linear-gradient(25deg, rgba(75, 186, 219, 0.7),  , rgb(27, 62, 128, 0.7) );
            background-color: rgb(194, 115, 255, 1);
        }
        th, td{
            min-width: 150px;
            padding: 30px 40px;
        }
        td{
            padding-left: 3px;
            padding-right: 3px;
            font-size: 18px;
            overflow-wrap: break-word;

            &.separator{
                background-color: #787878 !important;
                color: #fff;
            }
        }
        tr{
            border: none;
            &:nth-child(even){
                background-color: #efefef;
            }
            td:nth-child(4){
                color: #fff;
                font-size: 18px;
            }
            &.sep {
                background:rgba(194, 115, 255, 0.5);
                td {
                    h2 {
                        color: #fff!important;
                        margin: 0;
                    }
                }
            }
            p{
                background-color: #343434;
                background-color: rgb(194, 115, 255, 0.7);
                padding: 3px;
                color: #fff;
                padding-top: 8px;
                padding-bottom: 8px;
                margin: auto;
                min-width: 100px;
                max-width: 150px;
                cursor: pointer;
            }
        }
    }
}