
<div class="box">
    <!-- <h1 class="title-segment">Cennik</h1> -->
    <section class="main"  data-aos="fade-up" >
        <h1 class="title-black">Ceny poszczególnych zajęć:</h1>
        <div class="overflow">
            <table  style="table-layout: fixed; min-width: 670px">
                <thead>
                    <tr>
                        <th>Zajęcia</th>
                        <th>Jedno wejście</th>
                        <th>Karnet miesięczny</th>
                        <th></th>
                    </tr>
                
                </thead>
                <tbody>
                    <tr class="sep">
                        <td colspan="4" style="text-align: center;"><h2>Dla dzieci</h2></td>
                    </tr>
                    <tr>
                        <td>Taneczny Mix Malucha<br>(3-6 lat) </td>
                        <td>30zł</td>
                        <td>100zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Taniec towarzyski gr. początkująca (7+)</td>
                        <td>35zł</td>
                        <td>120zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>

                    <tr>
                        <td>Dancehall Kids<br>
                            (10-14 lat)</td>
                        <td>35zł</td>
                        <td>120zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>

                    <tr>
                        <td>Taniec towarzyski gr. rekreacyjna (7+)</td>
                        <td>---</td>
                        <td>160zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <!-- <tr>
                        <td>Taniec towarzyski gr. sportowa</td>
                        <td>---</td>
                        <td>160zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr> -->
                 
                    <tr class="sep">
                        <td colspan="4" style="text-align: center;"><h2>Ofert dla młodzieży i dorosłych</h2></td>
                    </tr>

                    <tr class="header">
                        <th>Zajęcia</th>
                        <th>Jedno wejście</th>
                        <th>Karnet miesięczny<br>(4 wejścia)</th>
                        <th></th>
                    </tr>

                    <!-- <tr>
                        <td>Taneczny Mix</td>
                        <td>80zł</td>
                        <td>25zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                 
                    <tr>
                        <td>Hip-Hop Kids</td>
                        <td>90zł</td>
                        <td>25zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Taniec nowoczesny</td>
                        <td>90zł</td>
                        <td>25zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr> -->
                    <tr>
                        <td>Joga</td>
                        <td>30zł</td>
                        <td>100zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Dancehall Female</td>
                        <td>40zł</td>
                        <td>130zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Ladies Latino Solo P-OPEN</td>
                        <td>40zł</td>
                        <td>130zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Latino Solo od podstaw</td>
                        <td>40zł</td>
                        <td>130zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Kurs Tańca Towarzyskiego</td>
                        <td>40zł</td>
                        <td>130zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Kurs Tańca Użytkowego</td>
                        <td>40zł</td>
                        <td>130zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Bachata (pary)</td>
                        <td>40zł</td>
                        <td>130zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Bachata Ladies Styling</td>
                        <td>40zł</td>
                        <td>130zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Bachata Solo/Footwork</td>
                        <td>40zł</td>
                        <td>130zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr> 
                    <tr>
                        <td>Bodymovement/ Izolacje</td>
                        <td>40zł</td>
                        <td>130zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr> 
                    <tr>
                        <td>Salsa Solo</td>
                        <td>40zł</td>
                        <td>130zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Salsa LA (pary)</td>
                        <td>40zł</td>
                        <td>130zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>  
                    <tr>
                        <td>Rueda De Casino</td>
                        <td>40zł</td>
                        <td>130zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
    
                    <tr>
                        <td>Indywidualna lekcja tańca</td>
                        <td colspan="2">140zł/60min</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Pierwszy taniec</td>
                        <td >140zł/60min</td>
                        <td >Pakiet 5 lekcji<br>600zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>

                    <tr class="sep">
                        <td colspan="4" style="text-align: center;"><h2>Karnet na większą ilość wejść</h2></td>
                    </tr>
                    
                    <!-- <tr>
                        <td>Pierwszy Taniec<br> Pakiet 4 lekcji <br>(4x 60min.)</td>
                        <td colspan="2">400zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr> -->
                      <tr>
                        <td>Karnet miesięczny<br> (8 wejść) </td>
                        <td colspan="2">220zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
                    <tr>
                        <td>Karnet miesięczny<br> (12 wejść) </td>
                        <td colspan="2">280zł</td>
                        <td><p><a routerLink="/kontakt">Zapisz się!</a></p></td>
                    </tr>
       
                </tbody>
            </table>
        </div>
    </section>

</div>