
<div class="box">
    <h1 class="title-segment">Cennik</h1>
    <section class="main"  data-aos="fade-up" >
        <h1 class="title-black">Ceny poszczególnych zajęć:</h1>
        <div class="overflow">
            <table  style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th>Zajęcia</th>
                        <th>Cena</th>
                        <th></th>
                    </tr>
                
                </thead>
                <tbody>
                    <tr>
                        <td class="separator"></td>
                        <td class="separator">Dla najmłodszych</td>
                        <td class="separator"></td>
                    </tr>
                    <tr>
                        <td>Taneczny mix malucha</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Taniec towarzyski</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Taniec nowoczesny</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td class="separator"></td>
                        <td class="separator">Dla młodzieży</td>
                        <td class="separator"></td>
                    </tr>
                    <tr>
                        <td>Kurs tańca towarzyskiego</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Przedstudniówkowy kurs tańca</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Taniec nowoczesny / jazz</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td class="separator"></td>
                        <td class="separator">Dla dorosłych</td>
                        <td class="separator"></td>
                    </tr>
                    <tr>
                        <td>Taniec nowoczesny / jazz</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Kurs tańca użytkowego</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Zajęcia latino dla par</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Ladies latino solo</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Kurs tańca PRO-AM</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Lekcje indywidualne</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Pierwszy taniec</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td class="separator"></td>
                        <td class="separator">Zajęcia fitness</td>
                        <td class="separator"></td>
                    </tr>
                    <tr>
                        <td>Zumba</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Step fitness</td>
                        <td>100 zł/h</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>