
<div class="box">
    <h1 class="title-segment">Cennik</h1>
    <section class="main"  data-aos="fade-up" >
        <h1 class="title-black">Ceny poszczególnych zajęć:</h1>
        <div class="overflow">
            <table  style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th>Zajęcia</th>
                        <th>Karnet miesięczny</th>
                        <th>Jedno wejście</th>
                        <th></th>
                    </tr>
                
                </thead>
                <tbody>
                    <!-- <tr>
                        <td class="separator"></td>
                        <td class="separator">Dla najmłodszych</td>
                        <td class="separator"></td>
                    </tr> -->
                    <tr>
                        <td>Taniec Towarzyski gr. sportowa</td>
                        <td>150zł</td>
                        <td>---</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Taniec Towarzyski gr. rekreacyjna</td>
                        <td>110zł</td>
                        <td>---</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Taneczny MIX gr. początkująca</td>
                        <td>80zł</td>
                        <td>25zł</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <!-- <tr>
                        <td class="separator"></td>
                        <td class="separator">Dla młodzieży</td>
                        <td class="separator"></td>
                    </tr> -->
                    <tr>
                        <td>Taneczny MIX Malucha</td>
                        <td>60zł</td>
                        <td>20zł</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>HIP-HOP KIDS gr. początkująca</td>
                        <td>80zł</td>
                        <td>25zł</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Taniec nowoczesny</td>
                        <td>80zł</td>
                        <td>25zł</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>ZUMBA</td>
                        <td>60zł(1x w tygodniu) <br> 100zł(2x w tygodniu)</td>
                        <td>20zł</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <!-- <tr>
                        <td class="separator"></td>
                        <td class="separator">Dla dorosłych</td>
                        <td class="separator"></td>
                    </tr> -->
                    <tr>
                        <td>Latino Solo Ladies</td>
                        <td>80zł</td>
                        <td>25zł</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Latino Mix</td>
                        <td>220zł/para</td>
                        <td>70zł/para</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Taniec Użytkowy</td>
                        <td>160zł/para</td>
                        <td>50zł/para</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Kurs Tańca Towarzyskiego</td>
                        <td>160zł/para</td>
                        <td>50zł/para</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Indywidualna lekcja tańca</td>
                        <td colspan="2">120zł/60min</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                    <tr>
                        <td>Pierwszy Taniec<br> Pakiet 4 lekcji <br>(4x 60min.)</td>
                        <td colspan="2">400zł</td>
                        <td><p>Zapisz się!</p></td>
                    </tr>
                
                </tbody>
            </table>
        </div>
    </section>

</div>