
.filter{
    background: linear-gradient(25deg, rgba(75, 186, 219, 0.7), rgb(194, 115, 255, 0.7) , rgb(27, 62, 128, 0.7) );
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.1;
    transition: opacity 0.5s ease-in-out;
    display: block;
    @media screen and (max-width: 500px) {
        display: none;
        
    }
}
.offers{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .offer__box{
        width: 80%; 
        margin: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .desc{      
            .photo-title{
                font-family: 'Roboto', sans-serif;
                font-size: 25px;
                text-align: left;
            }   
            // flex-basis: 500px;  
            font-size: 16px;
            line-height: 23px;
            max-width: 500px;
        }

        @media screen and (max-width: 1000px){
            flex-direction: column;
            .element{
                order: 1;
                min-height: 500px !important;
            }
            .desc{
                order: 2;
                height: auto !important;
                max-height: auto;
                min-height: auto;
            }
        }

    }
    .element{
        margin: 30px 30px;
        height: 600px !important;
        // min-height: 800px;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 500px !important;
        transition: all 0.5s ease-in-out;
        .main{
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .desc{
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        p{
            color: white;
        }
        .filter{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: transparent;
            opacity: 0.4;

               @media screen and (max-width: 875px) {
                    display: none;
                    
                }
            .main{
                opacity: 0;
                transition: opacity 0.5s ease-in-out;            }
        }
        &:hover{
            // background-position: top center;
            .filter{
                opacity: 1;
                .main{
                    opacity: 1;
                }
                // background: linear-gradient(25deg, rgba(75, 186, 219, 0.4), rgb(194, 115, 255, 0.4) , rgb(27, 62, 128, 0.4) );
            }
            // .main{
            //     flex-basis: 50%;
            //     opacity: 1;
            // }
        }
        @media screen and (max-width: 1000px){
            flex-basis: 50%;
        }
        @media screen and (max-width: 650px){
            flex-basis: 100%;
        }
    }
    .row{
        width: 100%;
        padding: 50px 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .separator{
            flex-basis: 10%;
            max-width: 1px;
            height: 500px;
            background: linear-gradient(25deg, rgba(75, 186, 219, 0.7), rgb(194, 115, 255, 0.7) , rgb(27, 62, 128, 0.7) );
        }
        .offer{
            flex-basis: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;
            img{
                width: 500px;
                height: 500px;
            }
        }
      
    }
}

.translate-1{
    transform: translateX(-10vw);
}

.parallax {
    /* The image used */
    // background-image: url("img_parallax.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .filter{
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        &:hover{
            opacity: 1;
        }
        .element{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
  }

  .ladies_latino{
    background-image: url('../../../assets/img/ladies_latino.jpg');
}

.couple_basic{
    background-image: url('../../../assets/img/TANIEC_TOWARZYSKI_DOROSLI.jpg');
} 

.couple_use{
    background-image: url('../../../assets/img/TANIEC_UŻYTKOWY_DLA_DOROSŁ.jpg');

} 
.zumba{
    background-image: url('../../../assets/img/ZUMBA.jpg');
} 

.kids_mix{
    background-image: url('../../../assets/img/TANECZNY_MIX_MALUCHA.jpg');
} 

.kids_basic{
    background-image: url('../../../assets/img/kids_basic.jpg');
} 

.kids_couple{
    background-image: url('../../../assets/img/TANIEC_TOWARZYSKI_DLA_DZIECI.jpg');
}

.kids_couple_sport{
    background-image: url('../../../assets/img/TANIEC_TOWARZYSKI_DLA_DZIECI.jpg');
}

.kids_new{
    background-image: url('../../../assets/img/TANIEC_NOWOCZESNY_DLA_DZIECI.jpg');
    background-position: center;
}

.polonaise{
    background-image: url('../../../assets/img/PRZEDSTUDNIOWKOWY_KURS_TANCA.jpg');

}

.couple{
    background-image: url('../../../assets/img/couple.jpg');
}

.young_new{
    background-image: url('../../../assets/img/JAZZ_NOWOCZESNY_MŁODZIEZ.jpg');
}

.young_couple{
    background-image: url('../../../assets/img/TANIEC_TOWARZYSKI_DLA_MLODZIEZY.jpg');
}

.mature{
    background-image: url('../../../assets/img/PRZEDSTUDNIOWKOWY_KURS_TANCA.jpg');
}

.couple_latino{
    background-image: url('../../../assets/img/LATINO_DLA_PAR.jpg');
}


.solo_latino{
    background-image: url('../../../assets/img/LATINO_SOLO.jpg');
}

.step{
    background-image: url('../../../assets/img/STEP.jpg');
}

.pro_am{
    background-image: url('../../../assets/img/PRO-AM.jpg');
}


.salsa{
    background-image: url('../../../assets/img/salsa.jpg');
}

.highheels{
    background-image: url('../../../assets/img/high heels.jpg');
}

.rueda{
    background-image: url('../../../assets/img/rueda.jpg');
}

.wedding{
    background-image: url('../../../assets/img/PIERWSZY_TANIEC.jpg');
}

.individual{
    background-image: url('../../../assets/img/LEKCJE_INDYWIDUALNE.jpg');
}

.hiphopkids{
    
    background-image: url('../../../assets/img/Hiphop_Kids.jpg');
}

.nowoczesny{
    background-image: url('../../../assets/img/nowoczesny.jpg');
}

.bach {
    background-image: url('../../../assets/img/bachata.png');
}

.cardio {
    background-image: url('../../../assets/img/Cardio.jpg');
}




@media screen and (max-width: 875px){
    .parallax{
        .filter{
            flex-direction: column;
            .element{
                flex-basis: auto !important;
                height: 100vh;
            }
        }
    }

    .element{
        .filter{
            opacity: 1!important;
            background: linear-gradient(25deg, rgba(75, 186, 219, 0.4), rgb(194, 115, 255, 0.4) , rgb(27, 62, 128, 0.4) );
            .main{
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1050px){
    .kids_new{
        background-size: center!important;
    }
    
}