<section id="UKS-Dance-Life-Oferta" class="box">
  <!-- <h1 class="title-segment">Oferta</h1> -->
  <h1 class="title-subsegment">Dla dzieci</h1>

  <div class="offers">
    
    <div class="offer__box" data-aos="fade-up">
      <div class="element kids_mix">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Taneczny Mix Malucha</h1>
            <p>dla dziecie w wieku 3-5 lat</p>
            <button (click)="setMessage(STATES.TANECZNYMIXMALUCHA)" routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>

      <div class="desc">
        <p class="photo-title">Taneczny Mix Malucha</p>
        <p class="desc">
          Oferta skierowana dla najmłodszych miłośników tańca. Zajęcia rytmiczno-ruchowe
           skierowane dla dzieci w wieku od 3 do 5 lat. Dzięki tym zajęciom Twoje dziecko wkroczy
            w magiczny świat tańca, pozna podstawowe kroki taneczne oraz mnóstwo zabaw.
        </p>
        <p> <button class="dark" (click)="setMessage(STATES.TANECZNYMIXMALUCHA)" routerLink="/kontakt">Zapisz się</button></p>
      </div>
    </div>

    <div class="offer__box" data-aos="fade-up">
      <div class="desc">
        <p class="photo-title">Taneczny Mix</p>
        <p class="desc">
          Zajęcia skierowane dla dzieci powyżej 6 lat (kontynuacja Tanecznego Mixu Malucha).
          Zajęcia te łączą w sobie różne style tańca tak, aby dziecko podczas pierwszego etapu
           nauki mogło wybrać coś odpowiedniego dla siebie. Poprzez zabawę połączoną z nauką
           choreografii tanecznych dzieci kształtują muzykalność, koordynację oraz poprawiają
            swoją sprawność ruchową.
        </p>
        <p> <button class="dark" (click)="setMessage(STATES.TANECZNYMIX)"  routerLink="/kontakt">Zapisz się</button></p>
      </div>

      <div class="element kids_basic">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Taneczny Mix</h1>
            <button routerLink="/kontakt" (click)="setMessage(STATES.TANECZNYMIX)" >Zapisz się</button>
          </div>
        </div>
      </div>
    </div>

    <div class="offer__box" data-aos="fade-up">
      <div class="element kids_couple_sport">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Taniec towarzyski</h1>
            <button routerLink="/kontakt" (click)="setMessage(STATES.TANIECTOWARZYSKIDZIECI)" >Zapisz się</button>
          </div>
        </div>
      </div>

      <div class="desc">
        <p class="photo-title">Taniec towarzyski</p>
        <p class="desc">
          Zajęcia skierowane dla dzieci od 6 roku życia, 
          które chcą rozpocząć swoją przygodę z tańcem.
           Taniec wpływa wielowymiarowo na rozwój dziecka. 
           Kształtuje jego rozwój motoryczny, uczy współpracy
            z rówieśnikami i przede wszystkim zapewnia mnóstwo
             zabawy. Na zajęciach Twoje dziecko pozna podstawowe 
             kroki z tańców standardowych i latynoamerykańskich.
              Pod koniec trwania kursu dzieci prezentują swoje umiejętności na 
              występie i otrzymują swój pierwszy „taneczny dyplom”. Po ukończonym
               kursie istnieje możliwość kontynuowania nauki w grupie sportowej.

        </p>
        <p> <button class="dark" (click)="setMessage(STATES.TANIECTOWARZYSKIDZIECI)"  routerLink="/kontakt">Zapisz się</button></p>
      </div>
    </div>

    <!-- <div class="offer__box" data-aos="fade-up">
      <div class="element nowoczesny">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Taniec nowoczesny</h1>
            <button (click)="setMessage(STATES.TANIECNOWOCZESNY)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>

      <div class="desc">
        <p class="photo-title">Taniec nowoczesny</p>
        <p class="desc">
          Taniec nowoczesny to wybuchowa mieszanka różnych stylów tanecznych. 
          Podstawą zajęć jest nauka energetycznego disco dance, ale tancerze będę
           mieli również okazję poznać elementy innych stylów, jak taniec jazzowy,
            taniec klasyczny czy hip-hop, które zapewniają im wszechstronny rozwój umiejętności. 
        </p>
        <p> <button class="dark" (click)="setMessage(STATES.TANIECNOWOCZESNY)"  routerLink="/kontakt">Zapisz się</button></p>
      </div>
    </div> -->

  </div>
 
  <h1 class="title-subsegment">ZAJĘCIA SOLO DLA DOROSŁYCH </h1>
  <div class="offers">

    <div class="offer__box" data-aos="fade-up">
      <div class="desc">
        <p class="photo-title">Zumba</p>

        <p class="desc">
          Jedna z najbardziej popularnych form ruchu na całym świecie.
           Zumba to idealne połączenie tańca i fitnessu. W trakcie zajęć spalisz mnóstwo kalorii,
            a przede wszystkim będziesz się świetnie bawić w rytmie latynoskiej muzyki. 
            Zajęcia przeznaczone są dla wszystkich osób, w każdym wieku. Przyjdź i zakochaj się w zumbie!
        </p>
        <p> <button (click)="setMessage(STATES.ZUMBA)"   routerLink="/kontakt" class="dark" routerLink="/kontakt">Zapisz się</button></p>
      </div>

      <div class="element zumba">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Zumba</h1>
            <button (click)="setMessage(STATES.ZUMBA)"   routerLink="/kontakt" routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>
    </div>


    <div class="offer__box" data-aos="fade-up">

      <div class="element solo_latino">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Ladies Latino Solo</h1>
            <button (click)="setMessage(STATES.LATINOSOLO)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>

      <div class="desc">
        <p class="photo-title">Ladies Latino Solo</p>

        <p class="desc">
          Zajęcia stworzone z myślą o kobietach. 
          Specjalnie przygotowane choreografie taneczne, 
          które zawierają podstawowe kroki i elementy tańców latynoamerykańskich,
           pozwolą każdej z Pań poczuć się wyjątkowo i zmysłowo! 
           Na zajęciach poznasz takie tańce jak salsa, bachata, zmysłowa rumba, kubańska cha-cha czy energiczny jive. 
        </p>
        <p> <button (click)="setMessage(STATES.LATINOSOLO)"   routerLink="/kontakt" class="dark" routerLink="/kontakt">Zapisz się</button></p>
      </div>

    </div>

    <div class="offer__box" data-aos="fade-up">
      <div class="desc">
        <p class="photo-title">High Heels</p>

        <p class="desc">
          Na zajęciach odkryjesz swoją kobiecość, nauczysz się poprawnie ruszać oraz tańczyć na wysokich obcasach do zmysłowych i sensualnych utworów. 
          <br><br>
           <strong>Zajęcia odbywają się raz w tygodniu (60 minut)</strong>
        </p>
        <p> <button class="dark" (click)="setMessage(STATES.HIGHHEELS)"   routerLink="/kontakt" routerLink="/kontakt">Zapisz się</button></p>
      </div>
      
      <div class="element highheels">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">High Heels</h1>
            <button (click)="setMessage(STATES.HIGHHEELS)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>


    </div>
    </div>
    <h1 class="title-subsegment">ZAJĘCIA W PARACH DLA DOROSŁYCH </h1>

<!-- 
    <div class="offer__box" data-aos="fade-up">
      <div class="desc">
        <p class="photo-title">Latino Mix</p>

        <p class="desc">
          Zajęcia skierowane do miłośników latynoskich rytmów. 
          Na zajęciach uczymy się takich tańców jak salsa, bachata, 
          cha-cha, rumba czy jive oraz stopniowo rozszerzamy repertuar taneczny.
           Zajęcia te to przede wszystkim mnóstwo dobrej energii, muzyki i uśmiechu – a to wszystko do latynoskich utworów muzycznych!<br><br>
          Nie masz partnera? To nic! Na zajęciach tańczymy zarówno w formie solo, jak i w parach. 
        </p>
        <p> <button class="dark" (click)="setMessage(STATES.LATINODLAPAR)"   routerLink="/kontakt" routerLink="/kontakt">Zapisz się</button></p>
      </div>
      
      <div class="element couple_latino">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Latino Mix</h1>
            <button (click)="setMessage(STATES.LATINODLAPAR)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>


    </div> -->
    <div class="offers">
    <div class="offer__box" data-aos="fade-up">
    

      <div class="element couple_basic">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Kurs tańca towarzyskiego</h1>
            <button (click)="setMessage(STATES.TANIECTOWARZYSKIDOROSLI)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>

      <div class="desc">
        <p class="photo-title">Kurs tańca towarzyskiego</p>

        <p class="desc">
          Kurs tańca towarzyskiego od podstaw, który obejmuje naukę zarówno tańców standardowych,
           jak i latynoamerykańskich. Na zajęciach poznasz takie tańce jak walc angielski, tango,
            walc wiedeński, samba, cha-cha, rumba czy jive. Jest to idealny sposób na spędzenie
             wolnego popołudnia. <br><br>
             Nie masz partnera? To nic! Na zajęcia nie trzeba zapisywać się w parach!    
        </p>
        <p> <button (click)="setMessage(STATES.TANIECTOWARZYSKIDOROSLI)"   routerLink="/kontakt" class="dark" routerLink="/kontakt">Zapisz się</button></p>
      </div>
    </div>

    <div class="offer__box" data-aos="fade-up">

      <div class="desc">
        <p class="photo-title">Kurs tańca użytkowego</p>

        <p class="desc">
          Kurs tańca użytkowego przeznaczony jest dla wszystkich osób, 
          które chcą bawić się tańcem i poczuć się pewnie na parkiecie.
           Przychodząc na zajęcia przekonasz się, że tańczyć może każdy! 
           Taniec użytkowy, znany również jako discofox, taniec weselny 
           czy „2 na 1”, to taniec prosty, a jednocześnie dzięki różnorodności figur, niezwykle widowiskowy. 
          Podczas zajęć uczymy się podstawowych kroków tanecznych, które możesz wykorzystać na parkiecie w trakcie wesel,
           balów sylwestrowych i innych imprez.    
        </p>
        <p> <button class="dark" (click)="setMessage(STATES.UZYTKOWY)"   routerLink="/kontakt" routerLink="/kontakt">Zapisz się</button></p>
      </div>

      <div class="element couple_use">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Kurs tańca użytkowego</h1>
            <button (click)="setMessage(STATES.UZYTKOWY)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>
    </div>


    <div class="offer__box" data-aos="fade-up">
      <div class="element bachata">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Bachata</h1>
            <button (click)="setMessage(STATES.BACHATA)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>

      <div class="desc">
        <p class="photo-title">Bachata</p>

        <p class="desc">
          To zmysłowy taniec, który powstał i rozwijał się na słonecznej Dominikanie. Bachata jest nieco podobna do innych tańców latynoamerykańskich, jednak wyróżnia się ona spośród nich dużą dawką sensualności. 
        </p>
        <p> <button  (click)="setMessage(STATES.BACHATA)"   routerLink="/kontakt" class="dark" routerLink="/kontakt">Zapisz się</button></p>
      </div>
    </div>

    <!-- SALSA -->

    <div class="offer__box" data-aos="fade-up">

      <div class="desc">
        <p class="photo-title">Salsa</p>

        <p class="desc">
          Popularny taniec latynoamerykański tańczony do muzyki o tej samej nazwie. Charakteryzuje się przede wszystkim energiczną muzyką i żywiołowymi ruchami. Dzięki temu połączeniu salsa potrafi porwać do tańca każdego!  
        </p>
        <p> <button class="dark" (click)="setMessage(STATES.SALSA)"   routerLink="/kontakt" routerLink="/kontakt">Zapisz się</button></p>
      </div>

      <div class="element salsa">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Salsa</h1>
            <button (click)="setMessage(STATES.SALSA)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>
    </div>

    <div class="offer__box" data-aos="fade-up">
      <div class="element rueda">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Rueda de Casino </h1>
            <button (click)="setMessage(STATES.RUEDA)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>

      <div class="desc">
        <p class="photo-title">Rueda de Casino </p>

        <p class="desc">
          Jest to specyficzny sposób tańczenia salsy po kole. Tancerze i tancerki w parach poruszają się tworząc krąg par (rueda, to koło po hiszpańsku) i wykonują synchronicznie figury na hasło prowadzącego.         </p>
        <p> <button  (click)="setMessage(STATES.RUEDA)"   routerLink="/kontakt" class="dark" routerLink="/kontakt">Zapisz się</button></p>
      </div>
    </div>


    <div class="offer__box" data-aos="fade-up">

      <div class="desc">
        <p class="photo-title">Kurs tańca PRO-AM</p>

        <p class="desc">
          Oferta skierowana do wszystkich, którzy marzą o profesjonalnej 
          nauce tańca towarzyskiego. Chcesz spróbować swoich sił na parkiecie 
          z zawodowym tancerzem? Jeśli tak, to te zajęcia są właśnie dla
           Ciebie! Kurs tańca PRO-AM ma charakter indywidualnych zajęć, na
            których nasz instruktor przygotowuje kursanta do wspólnego prezentowania
             nabytych umiejętności na pokazach i turniejach tanecznych. Kurs 
             ten jest skierowany zarówno do osób początkujących, jak i do tych,
              którzy już uczęszczają na zajęcia taneczne i szukają kolejnego wyzwania!
        </p>
        <p> <button  (click)="setMessage(STATES.PROAM)"   routerLink="/kontakt" class="dark" routerLink="/kontakt">Zapisz się</button></p>
      </div>

      <div class="element pro_am">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Kurs tańca PRO-AM</h1>
            <button (click)="setMessage(STATES.PROAM)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>
      
    </div>


    <div class="offer__box" data-aos="fade-up">


      <div class="element wedding">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Pierwszy taniec</h1>
            <button (click)="setMessage(STATES.PIERWSZYTANIEC)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>

      <div class="desc">
        <p class="photo-title">Pierwszy taniec</p>

        <p class="desc">
          Zajęcia odbywają się w formie lekcji indywidualnych, w 
          terminach dopasowanych specjalnie do kalendarza narzeczonych.
           Przygotowujemy wyjątkowe układy taneczne do wybranych utworów,
            bądź pomagamy w wyborze idealnej piosenki. W planie zajęć możemy
             również uwzględnić naukę tańca użytkowego, dzięki czemu pewniej
              poczujecie się podczas każdej imprezy tanecznej.
        </p>
        <p> <button  (click)="setMessage(STATES.PIERWSZYTANIEC)"   routerLink="/kontakt" class="dark" routerLink="/kontakt">Zapisz się</button></p>
      </div>

  
    </div>

    <div class="offer__box" data-aos="fade-up">
    
      <div class="desc">
        <p class="photo-title">Lekcej indywidualne</p>

        <p class="desc">
          Jest to najefektowniejsza forma nauki, podczas której instruktor
           poświęca tylko Tobie całą swoją uwagę i czas. Na tych zajęciach 
           dostosujemy poziom i formę nauki do Twoich indywidualnych potrzeb.
            Terminy lekcji ustalane są indywidualnie. 
        </p>
        <p> <button class="dark" (click)="setMessage(STATES.INDYWIDUALNE)"   routerLink="/kontakt" routerLink="/kontakt">Zapisz się</button></p>
      </div>

      <div class="element individual">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">Lekcej indywidualne</h1>
            <button (click)="setMessage(STATES.INDYWIDUALNE)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>

    </div>

   

 


  </div>

  <!-- <h1 class="title-subsegment">Zajęcia fitness</h1> -->
  <!-- <div class="offers">


    <div class="offer__box" data-aos="fade-up">
      <div class="element step">
        <div class="filter">
          <div class="main">
            <h1 class="title-white">step fitness</h1>
            <button (click)="setMessage(STATES.STEP)"   routerLink="/kontakt">Zapisz się</button>
          </div>
        </div>
      </div>

      <div class="desc">
        <p class="photo-title">Step fitness</p>

        <p class="desc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
        <p> <button (click)="setMessage(STATES.STEP)"    class="dark" routerLink="/kontakt">Zapisz się</button></p>
      </div>
    </div>
  </div> -->
</section>
