.header{
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1001;
    overflow: hidden;
    height: 90px;
    width: 100vw;
    display: flex;
    .hamburger{
      display: none;
      color: white;
      width: 30px;
      height: 30px;
      font-size: 30px;
      position: absolute;
      top: 30px;
      right: 30px;
    }
    .tab{
      height: 100%;
      width: 1000px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      text-align: left;
      padding-top: 0;
      a{
        color: white;
        padding: 0 20px;
        letter-spacing: 2px; 
      }
      fa-icon{
        color: #fff;
        font-size: 30px;
        width: 30px;
        height: 40px;
        position: absolute;
        z-index: 1000;
        top: calc(50% - 20px);
        left: 51px;
        cursor: pointer;
      }
      a{
          color: white;
          padding: 0;
          margin: 0 20px;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          text-decoration: none;
          position: relative;
          &:hover{
            cursor: pointer;
            &:after{
              content: '';
              display: block;
              background-color: #fff;
              height: 1px;
              animation-name: pseudo;
              animation-duration: 0.5s;
              animation-fill-mode: forwards;
              position: absolute;
              bottom: 0;left: 0;
            }
          }
      }
      img{
          position: absolute;
          z-index: 1000;
          top: 16px;
          left: 16px;
          width: 100px;

      }
    
    }
    .logo{
      position: absolute;
      top: 20px;
      left: 20px;
      filter: brightness(0) invert(1);
      width: 100px;
    }

}

.scrolled-header{
  animation-name: minimize;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.maximize-header{
  animation-name: maximize;
  animation-duration: 0.5s;
  // animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.always-black{
  // background-color: !important;
  background: linear-gradient(25deg, rgba(75, 186, 219, 0.9), rgb(194, 115, 255, 0.9) , rgb(27, 62, 128, 0.9) ) !important;
}

@keyframes minimize {
  0%   {height:90px; background-color: rgba(0, 0, 0, 0)}
  100% {height:70px; background-color: rgba(0, 0, 0, 1)}
}
@keyframes maximize {
  0%   {height:70px; background-color: rgba(0, 0, 0, 1)}
  100% {height:90px; background-color: rgba(0, 0, 0, 0)}
}

@keyframes pseudo {
  0%   {width:0px;}
  100% {width: 100%}
}

.show{
  min-height: 300px;
}

@media screen and (max-width: 900px){
  .header{
    .tab{
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 75px;
      a{
        margin: 20px;
      }
    }
    .hamburger{
      display: block;
    }
    background-color: #000;
  }
  .show{
    min-height: 440px;
  }
  .scrolled-header, .maximize-header{
    animation: none;
  }
}