<!-- <div class="main main-first">
    <div  data-aos="fade-up"
>DUPADASAASDASJINJUINFSOIFASNOASFNOASDOAS</div>
</div>
<div class="main ">
    <div  class="desc">DUPADASAASDASJINJUINFSOIFASNOASFNOASDOAS</div>
</div>
<div class="main main-second">
    <div  class="desc">DUPADASAASDASJINJUINFSOIFASNOASFNOASDOAS</div>
</div> -->

<div class="main main-first parallax">
    <div  data-aos="fade-up"
>DUPADASAASDASJINJUINFSOIFASNOASFNOASDOAS</div>
</div>
<div class="main">
    <div data-aos="fade-up" class="title"><h1>O nas</h1></div>
    <div class="dancer">
        <img data-aos="fade-up" src="assets/img/misia.jpg">
        <div data-aos="fade-up" class="desc">
            <div class="title">
                Michalina Kuklińska
            </div>
            <p>Nauczycielka tańca</p>
        </div>
    </div>
    <div class="dancer">
        <div data-aos="fade-up" class="desc">
            <div class="title">
                Filip Kukliński
            </div>
            <p>Nauczyciel tańca</p>
        </div>
        <img data-aos="fade-up" src="assets/img/filip.jpg">
     
    </div>
</div>