
<div class="box">
    <!-- <h1 class="title-segment">O nas</h1> -->

    <section class="main intro"  #info>
        <!-- <h1 data-aos="fade-up" class="title-black">Ogólny opis szkoły</h1> -->
        <p data-aos="fade-up" class="desc" style="text-align: center; color: #000">Zapraszamy Cię w miejsce, w którym rozpoczniesz swoją podróż w niesamowity świat 
          tańca! W naszej ofercie znajdziesz zajęcia taneczne dla dzieci, młodzieży oraz dorosłych.
           DANCE LIFE to miejsce, w którym łączy Nas wspólna pasja oraz chęć wprowadzenia w swoje życie 
           czegoś wyjątkowego, co uskrzydla i inspiruje. Nasz zespół to profesjonaliści, którzy wiedzą jak 
           skutecznie nauczać tańca, a przy tym fantastycznie się bawić! Zapraszamy wszystkich, bez względu
            na wiek i poziom zaawansowania, ponieważ taniec nie ma żadnych ograniczeń i nigdy nie jest za późno,
             aby zrobić pierwszy krok!<br><br>

          <!-- <u>Zapraszamy Cię w miejsce, w którym rozpoczniesz swoją podróż w niesamowity świat tańca!</u></p> -->
    </section>

    <h1 class="title-segment">Kadra</h1>

    <section class="main">

        <div class="offer__box" data-aos="fade-up">
            <!-- <div class="element michalina">
              <div class="filter">
              </div>
            </div> -->
      
            <div class="desc">
              <p class="photo-title text-center">Michalina Kuklińska</p>
              <p class="desc text-center" style="color: #000">
                Certyfikowana instruktor sportu ze specjalnością taniec oraz
                 instruktor zumby. Swoją przygodę z tańcem towarzyskim rozpoczęła 16 lat temu i 
                 stało się to jej życiową pasją. Zdobywczyni najwyższej, międzynarodowej klasy
                  tanecznej „S” w tańcach standardowych i latynoamerykańskich. Na swoim tanecznym
                   koncie ma następujące osiągnięcia: Finał Mistrzostw Polski w 10 tańcach, Finał 
                   Mistrzostw Akademickich w tańcach standardowych, Mistrzostwo Okręgu Kujawsko-Pomorskiego,
                    czy Mistrzostwo Polski Północnej. Swoje taneczne umiejętności prezentowała na turniejach
                     zarówno w Polsce, jak i zagranicą, m.in. w Dreźnie, Paryżu czy Moskwie. 
              </p>
            </div>
          </div>

          <div class="offer__box" data-aos="fade-up">

            <div class="desc">
                <p class="photo-title text-center">Filip Kukliński</p>
                <p class="desc text-center" style="color: #000">
                  Certyfikowany instruktor sportu ze specjalnością taniec towarzyski 
                  oraz tancerz z najwyższą, międzynarodową klasą taneczną „S” 
                  zarówno w tańcach standardowych, jak i latynoamerykańskich. 
                  Finalista Mistrzostw Polski w 10 tańcach, wielokrotny finalista 
                  Mistrzostw Akademickich, Mistrz Polski Północnej oraz wielokrotny
                   Mistrz Okręgu Kujawsko-Pomorskiego. Razem z Michaliną reprezentował
                    swój klub taneczny na międzynarodowych turniejach, m.in. w Cheb, 
                    Dreźnie, Paryżu czy Moskwie. 
                </p>
              </div>

            <!-- <div class="element filip">
              <div class="filter">
              </div>
            </div> -->
      
       
          </div>

          <div class="offer__box" data-aos="fade-up">
            <!-- <div class="element michalina">
              <div class="filter">
              </div>
            </div> -->
      
            <div class="desc">
              <p class="photo-title text-center ">Nikola Goerne</p>
              <p class="desc text-center" style="color: #000">
                Swoją taneczną przygodę rozpoczęła już w wieku 6 lat. 
                Przez ponad 10 lat trenowała taniec towarzyski pod okiem
                 najlepszych instruktorów w Polsce, a następnie zaczęła rozwijać 
                 swoje taneczne doświadczenie w kierunku hip-hopu, jazzu oraz tańca
                  nowoczesnego. Uczestniczyła w wielu warsztatach i eventach u  
                  Equrrola Dance Studio. Ukończyła również Artystyczną Szkołę ROE.  
              </p>
            </div>
          </div>



    </section>
</div>
