
<div class="box">
    <!-- <h1 class="title-segment">O nas</h1> -->

    <section class="main intro"  #info>
        <!-- <h1 data-aos="fade-up" class="title-black">Ogólny opis szkoły</h1> -->
        <p data-aos="fade-up" class="desc" style="text-align: center; color: #000">Zapraszamy Cię w miejsce, w którym rozpoczniesz swoją podróż w niesamowity świat 
          tańca! W naszej ofercie znajdziesz zajęcia taneczne dla dzieci, młodzieży oraz dorosłych.
           DANCE LIFE to miejsce, w którym łączy Nas wspólna pasja oraz chęć wprowadzenia w swoje życie 
           czegoś wyjątkowego, co uskrzydla i inspiruje. Nasz zespół to profesjonaliści, którzy wiedzą jak 
           skutecznie nauczać tańca, a przy tym fantastycznie się bawić! Zapraszamy wszystkich, bez względu
            na wiek i poziom zaawansowania, ponieważ taniec nie ma żadnych ograniczeń i nigdy nie jest za późno,
             aby zrobić pierwszy krok!<br><br>

          <!-- <u>Zapraszamy Cię w miejsce, w którym rozpoczniesz swoją podróż w niesamowity świat tańca!</u></p> -->
    </section>

    <h1 class="title-segment">Kadra</h1>

    <section class="main">

        <div class="offer__box" data-aos="fade-up">
            <div class="element michalina">
              <div class="filter">
              </div>
            </div>
      
            <div class="desc">
              <h3 class="photo-title text-center" style="text-align: center;">Michalina Kuklińska</h3>
              <p class="desc text-center" style="color: #000">
                Certyfikowana instruktor sportu ze specjalnością taniec oraz
                 instruktor zumby. Swoją przygodę z tańcem towarzyskim rozpoczęła 16 lat temu i 
                 stało się to jej życiową pasją. Zdobywczyni najwyższej, międzynarodowej klasy
                  tanecznej „S” w tańcach standardowych i latynoamerykańskich. Na swoim tanecznym
                   koncie ma następujące osiągnięcia: Finał Mistrzostw Polski w 10 tańcach, Finał 
                   Mistrzostw Akademickich w tańcach standardowych, Mistrzostwo Okręgu Kujawsko-Pomorskiego,
                    czy Mistrzostwo Polski Północnej. Swoje taneczne umiejętności prezentowała na turniejach
                     zarówno w Polsce, jak i zagranicą, m.in. w Dreźnie, Paryżu czy Moskwie. 
                     Na zajęciach uwielbia dzielić się swoją wiedzą, doświadczeniem oraz miłością do tańca. Z wykształcenia jest psychologiem, a jej drugą życiową pasją są podróże. 
              </p>
            </div>
          </div>

          <div class="offer__box" data-aos="fade-up">

            <div class="desc">
                <h3 class="photo-title text-center" style="text-align: center;">Filip Kukliński</h3>
                <p class="desc text-center" style="color: #000">
                  Certyfikowany instruktor sportu ze specjalnością taniec towarzyski 
                  oraz tancerz z najwyższą, międzynarodową klasą taneczną „S” 
                  zarówno w tańcach standardowych, jak i latynoamerykańskich. 
                  Finalista Mistrzostw Polski w 10 tańcach, wielokrotny finalista 
                  Mistrzostw Akademickich, Mistrz Polski Północnej oraz wielokrotny
                   Mistrz Okręgu Kujawsko-Pomorskiego. Razem z Michaliną reprezentował
                    swój klub taneczny na międzynarodowych turniejach, m.in. w Cheb, 
                    Dreźnie, Paryżu czy Moskwie. Na zajęciach stawia nacisk zarówno na dobrą zabawę, jak i na technikę, więc z pewnością zaskoczy cię wieloma technicznymi szczegółami i trickami!
                </p>
              </div>

            <div class="element filip">
              <div class="filter">
              </div>
            </div>
      
       
          </div>

          <div class="offer__box" data-aos="fade-up">
            <div class="element julia">
              <div class="filter">
              </div>
            </div>
      
            <div class="desc">
              <h3 class="photo-title text-center" style="text-align: center;">Julia Bury</h3>
              <p class="desc text-center" style="color: #000">
                Tancerka i instruktorka, często nazywana również buriczka. 
                Z tańcem jest związana od małego – już w szkole podstawowej 
                miała na koncie medale z turniejów tańca towarzyskiego. Przeszła 
                przez prawie każdy styl m.in. hip hop, house, jazz, latino, dancehall. 
                Aktualnie najlepiej czuje się w kobiecych stylach tanecznych – sexy dance, 
                twerk oraz high heels. Jako instruktorka wprowadza na zajęciach 
                przyjacielską i rodzinną atmosferę, a na rozluźnienie lubi sobie zażartować. 
              </p>
            </div>
          </div>

          <div class="offer__box" data-aos="fade-up">

            <div class="desc">
                <h3 class="photo-title text-center" style="text-align: center;">Kamil Zatyka</h3>
                <p class="desc text-center" style="color: #000">
                  Swoją historię taneczną zatoczył kołem – jako dziecko zaczynał taneczną 
                  przygodę w narodowych tańcach polskich, by po wielu latach nieco do nich 
                  wrócić… Jako instruktor spełnia się od 10 lat i „zaraża” swoją pasją innych, 
                  wprowadzając w barwny i bogaty świat tańca. Swój warsztat taneczny opiera na 
                  podstawach tańca towarzyskiego oraz tańców tradycyjnych. Jednak oprócz oberka, 
                  jego żywiołem jest salsa i bachata. To właśnie w nich znajduje i przekazuje 
                  innym energię, wolność oraz dobrą zabawę. Na zajęciach ceni sobie dobrą, 
                  wesołą atmosferę, która z dobrym poczuciem humoru i szeroką wiedzą o tańcu daje mieszankę iście ognistą. 
                </p>
              </div>

            <div class="element kamil">
              <div class="filter">
              </div>
            </div>
      
       
          </div>

          <div class="offer__box" data-aos="fade-up">

                <div class="element krzysztof">
              <div class="filter">
              </div>
            </div>
      

            <div class="desc">
                <h3 class="photo-title text-center" style="text-align: center;">Krzysztof Włodarczyk </h3>
                <p class="desc text-center" style="color: #000">
                  Z tańcem miał już styczność jako dziecko, rozpoczynając swoją przygodę z tańcem towarzyskim. Zamiłowanie do tańca spowodowało, że po wielu latach wrócił i rozwija się dalej w tym kierunku. W 2017 roku rozpoczął swoją przygodę z bachatą i od tego momentu nieustannie szkoli się pod okiem najlepszych instruktorów. Na zajęciach stawia nacisk na szczegóły oraz rozwój, nie zapominając przy tym, że taniec to przede wszystkim dobra zabawa. Podczas kursu poznasz figury i elementy zarówno z bachaty sensual, dominicany, jak i fusion. 
                </p>
              </div>

        
       
          </div>


    </section>
</div>
