
<div class="box">
    <!-- <h1 class="title-segment">O nas</h1> -->

    <section class="main intro"  #info>
        <!-- <h1 data-aos="fade-up" class="title-black">Ogólny opis szkoły</h1> -->
        <p data-aos="fade-up" class="desc" style="text-align: center; color: #000">Zapraszamy Cię w miejsce, w którym rozpoczniesz swoją podróż w niesamowity świat 
          tańca! W naszej ofercie znajdziesz zajęcia taneczne dla dzieci, młodzieży oraz dorosłych.
           DANCE LIFE to miejsce, w którym łączy Nas wspólna pasja oraz chęć wprowadzenia w swoje życie 
           czegoś wyjątkowego, co uskrzydla i inspiruje. Nasz zespół to profesjonaliści, którzy wiedzą jak 
           skutecznie nauczać tańca, a przy tym fantastycznie się bawić! Zapraszamy wszystkich, bez względu
            na wiek i poziom zaawansowania, ponieważ taniec nie ma żadnych ograniczeń i nigdy nie jest za późno,
             aby zrobić pierwszy krok!<br><br>

          <!-- <u>Zapraszamy Cię w miejsce, w którym rozpoczniesz swoją podróż w niesamowity świat tańca!</u></p> -->
    </section>

    <h1 class="title-segment">Kadra</h1>

    <section class="main">

        <div class="offer__box" data-aos="fade-up">
            <div class="element michalina">
              <div class="filter">
              </div>
            </div>
      
            <div class="desc">
              <h3 class="photo-title text-center" style="text-align: center;">Michalina Kuklińska</h3>
              <p class="desc text-center" style="color: #000">
                Właścicielka szkoły oraz certyfikowana instruktorka tańca sportowego. Swoją
                taneczną przygodę rozpoczęła od tańca towarzyskiego, który był obecny w jej życiu przez ponad 16
                lat. Zdobywczyni najwyższej, międzynarodowej klasy tanecznej „S”. Do jej najważniejszych osiągnięć
                należą m.in. Finał Mistrzostw Polski czy Mistrzostwo Polski Północnej. Nie wyobraża sobie życia bez
                tańca, dlatego po zakończeniu kariery tanecznej szukała innego stylu, w którym dalej będzie mogła
                się rozwijać – i to właśnie Bachata skradła jej serce. Uwielbia ją zwłaszcza za swobodę ruchu oraz
                szerokie możliwości interpretacji muzyki. Z wykształcenia jest psychologiem, a jej drugą życiową pasją
                są podróże.
              </p>
            </div>
          </div>

          <div class="offer__box" data-aos="fade-up">

            <div class="desc">
                <h3 class="photo-title text-center" style="text-align: center;">Filip Kukliński</h3>
                <p class="desc text-center" style="color: #000">
                  Certyfikowany instruktor sportu ze specjalnością taniec towarzyski 
                  oraz tancerz z najwyższą, międzynarodową klasą taneczną „S” 
                  zarówno w tańcach standardowych, jak i latynoamerykańskich. 
                  Finalista Mistrzostw Polski w 10 tańcach, wielokrotny finalista 
                  Mistrzostw Akademickich, Mistrz Polski Północnej oraz wielokrotny
                   Mistrz Okręgu Kujawsko-Pomorskiego. Razem z Michaliną reprezentował
                    swój klub taneczny na międzynarodowych turniejach, m.in. w Cheb, 
                    Dreźnie, Paryżu czy Moskwie. Na zajęciach stawia nacisk zarówno na dobrą zabawę, jak i na technikę, więc z pewnością zaskoczy cię wieloma technicznymi szczegółami i trickami!
                </p>
              </div>

            <div class="element filip">
              <div class="filter">
              </div>
            </div>
      
       
          </div>

          <div class="offer__box" data-aos="fade-up">
            <div class="element kamil">
              <div class="filter">
              </div>
            </div>
      
            <div class="desc">
              <h3 class="photo-title text-center" style="text-align: center;">Kamil Zatyka</h3>
              <p class="desc text-center" style="color: #000">
                Nietuzinkowy instruktor o wielu talentach i umiejętnościach. Swoją przygodę z tańcem
                rozpoczął już w najmłodszych latach - od tańca towarzyskiego oraz folku. Jako instruktor spełnia się
                od ponad 10 lat i zarażając pasją innych, wprowadza w barwny i bogaty świat tańca. Jego żywiołem są
                salsa (casino i LA) oraz bachata. To w nich odnajduje energię i wolność, dobrą zabawę oraz radość,
                które przekazuje innym. Jednymi z ulubionych form tańca Kamila są tańczone po kole ruedy: de
                casino oraz de bachata. Na zajęciach ceni sobie pozytywną atmosferę, która w połączeniu z dobrym
                poczuciem humoru i szeroką wiedzą o tańcu daje mieszankę iście ognistą. Kamil spędza czas nie tylko
                na parkiecie, jego drugą pasją jest natura – rolnik, hodowca i pszczelarz, którego spotkacie również
                na festiwalach świadomościowych jako producenta napojów naturalnych.
              </p>
            </div>
          </div>

          <div class="offer__box" data-aos="fade-up">

            <div class="desc">
                <h3 class="photo-title text-center" style="text-align: center;">Lidia Steczek</h3>
                <p class="desc text-center" style="color: #000">
                  Za dnia lekarz weterynarii pracująca w branży farmaceutycznej, po godzinach - zakłada
                  buty taneczne i rusza na parkiet, by tańczyć w rytmach salsy i bachaty. Swoją pierwszą poważną
                  przygodę taneczną rozpoczęła w gimnazjum jako członek zespołu folklorystycznego na południu
                  Polski, skąd pochodzi. Odnajduje się zarówno w roli leadera jak i followera. Jej ulubione style to salsa,
                  zarówno LA jak i casino, a w szczególności forma casino tańczona po kole - rueda. Swoją pasję do
                  podróży często łączy z wyjazdami na festiwale taneczne, gdzie poszerza swoją wiedzę i warsztat,
                  którymi dzieli się z kursantami. Razem z Kamilem dopełniają się na parkiecie, dzięki czemu zajęcia z
                  nimi są pełne uśmiechu, dobrej zabawy, ale i owocne w naukę.
                </p>
              </div>

            <div class="element lidia">
              <div class="filter">
              </div>
            </div>
      
       
          </div>

          
          <div class="offer__box" data-aos="fade-up">

            <div class="element marta">
              <div class="filter">
              </div>
            </div>

            <div class="desc">
              <h3 class="photo-title text-center" style="text-align: center;">Marta Rzeźnik</h3>
              <p class="desc text-center" style="color: #000">
                Swoją przygodę z tańcem rozpoczęła w 2008 roku. Na tanecznym parkiecie
                występuje od najmłodszych lat. Wielokrotna zdobywczyni miejsc na podium Ogólnopolskich
                Turniejów Tańca Towarzyskiego, wielokrotna półfinalistka Mistrzostw Polski w klasie ,,B” i „A” w obu
                stylach. Obecnie Marta posiada mistrzowską klasę taneczną w obu stylach tanecznych ST oraz LA. Na
                zajęciach dba o przyjazną atmosferę i dobrą zabawę!
              </p>
            </div>
      
       
          </div>

          <div class="offer__box" data-aos="fade-up">

            <div class="desc">
                <h3 class="photo-title text-center" style="text-align: center;">Paulina Pietrzycka</h3>
                <p class="desc text-center" style="color: #000">
            
                </p>
              </div>

            <div class="element paulina">
              <div class="filter">
              </div>
            </div>
      
       
          </div>

              
          <div class="offer__box" data-aos="fade-up">

            <div class="element asia">
              <div class="filter">
              </div>
            </div>

            <div class="desc">
              <h3 class="photo-title text-center" style="text-align: center;">Asia Łapińska</h3>
              <p class="desc text-center" style="color: #000">
                Certyfikowana instruktor sportu ze specjalizacją instruktor jogi. Jej ulubiony styl to
                vinyasa, czyli dynamiczne przejścia między pozycjami, które przeplata praktyką statyczną i
                wyciszającą. Zajęcia prowadzi w stylu hatha jogi, stawia na aspekt fizyczny, pracę z ciałem i w głównej
                mierze skupia się na praktyce asan. Lekcje dostosowuje do możliwości osób, ale też zachęca innych
                do próbowania nowych rzeczy. Na zajęciach przeplata wzmacnianie ciała, rozciąganie oraz relaks.
              </p>
            </div>
      
       
          </div>

          
          <div class="offer__box" data-aos="fade-up">

            <div class="desc">
                <h3 class="photo-title text-center" style="text-align: center;">Zuzia Mazur</h3>
                <p class="desc text-center" style="color: #000">
                  Swoją przygodę z tańcem rozpoczęła w 2019 roku i od tego momentu taniec stał się
                  nieodłączną częścią jej życia. Zaczęła od dancehallu, ale stała się miłośniczką innych styli tanecznych,
                  takich jak hip-hop, high heels czy twerk. Zuzia nieustannie szkoli się u instruktorów z całego świata
                  oraz bierze udział w wielu turniejach jako członek formacji, zdobywając przy tym liczne sukcesy. Na
                  swoich zajęciach będzie skupiała uwagę na ćwiczeniu pewności siebie i kobiecości w tańcu. Kładzie
                  również nacisk na technikę czy izolacje ciała w tańcu.
                </p>
              </div>

            <div class="element zuzia">
              <div class="filter">
              </div>
            </div>
      
       
          </div>
<!-- 
          <div class="offer__box" data-aos="fade-up">
            <div class="element natalia">
              <div class="filter">
              </div>
            </div>
      
            <div class="desc">
              <h3 class="photo-title text-center" style="text-align: center;">Natalia Czyż</h3>
              <p class="desc text-center" style="color: #000">
                Taniec towarzyszy jej od dziecka! Instruktorka tańca High Heels, 
                ale również miłośniczka innych stylów tanecznych, takich jak hip-hop 
                czy breakdance. Swój warsztat taneczny doskonaliła pod okiem wybitnych 
                tancerzy: Kiira Harper, Cisco Ruelas czy Jessica Ali. Z zawodu jest 
                dietetykiem oraz trenerem personalnym. Dla Natalii High Heels to 
                taniec zmysłu i seksapilu, dlatego na zajęciach stawia na wzbudzenie
                 swojej kobiecości oraz nabranie pewności siebie. 
              </p>
            </div>
          </div> -->

          <!-- <div class="offer__box" data-aos="fade-up">

            <div class="desc">
                <h3 class="photo-title text-center" style="text-align: center;">Kamil Zatyka</h3>
                <p class="desc text-center" style="color: #000">
                  Swoją historię taneczną zatoczył kołem – jako dziecko zaczynał taneczną 
                  przygodę w narodowych tańcach polskich, by po wielu latach nieco do nich 
                  wrócić… Jako instruktor spełnia się od 10 lat i „zaraża” swoją pasją innych, 
                  wprowadzając w barwny i bogaty świat tańca. Swój warsztat taneczny opiera na 
                  podstawach tańca towarzyskiego oraz tańców tradycyjnych. Jednak oprócz oberka, 
                  jego żywiołem jest salsa i bachata. To właśnie w nich znajduje i przekazuje 
                  innym energię, wolność oraz dobrą zabawę. Na zajęciach ceni sobie dobrą, 
                  wesołą atmosferę, która z dobrym poczuciem humoru i szeroką wiedzą o tańcu daje mieszankę iście ognistą. 
                </p>
              </div>

            <div class="element kamil">
              <div class="filter">
              </div>
            </div>
      
       
          </div> -->
<!-- 
          <div class="offer__box" data-aos="fade-up">

                <div class="element krzysztof">
              <div class="filter">
              </div>
            </div>
      

            <div class="desc">
                <h3 class="photo-title text-center" style="text-align: center;">Krzysztof Włodarczyk </h3>
                <p class="desc text-center" style="color: #000">
                  Z tańcem miał już styczność jako dziecko, rozpoczynając swoją przygodę z tańcem towarzyskim. Zamiłowanie do tańca spowodowało, że po wielu latach wrócił i rozwija się dalej w tym kierunku. W 2017 roku rozpoczął swoją przygodę z bachatą i od tego momentu nieustannie szkoli się pod okiem najlepszych instruktorów. Na zajęciach stawia nacisk na szczegóły oraz rozwój, nie zapominając przy tym, że taniec to przede wszystkim dobra zabawa. Podczas kursu poznasz figury i elementy zarówno z bachaty sensual, dominicany, jak i fusion. 
                </p>
              </div>

        
       
          </div> -->


    </section>
</div>
