<div class="footer">
    <div class="column">
        <div class="title">Tu jesteśmy zawsze!</div>
        <!-- <p>Prosimy o kontakt na adres mailowy: costam@djfndfs.pl lub</p> -->
        <a href="https://www.facebook.com/uksdancelifeinowroclaw" target="_blank"><img  alt="UKS Dance Life Facebook" src="assets/img/facebook.svg"></a>
        <a href="https://www.instagram.com/uksdancelife/?hl=pl" target="_blank"><img alt="UKS Dance Life Instagram" src="assets/img/insta.svg"></a>
        <div class="title small additional">
            <div class="fb-like" data-href="https://www.facebook.com/uksdancelifeinowroclaw" data-width="" data-colorscheme="dark" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
        </div>
        <div class="title small">
            <a href="https://www.google.com/maps/place/Pozna%C5%84ska+42,+88-110+Inowroc%C5%82aw/@52.7897026,18.2588152,17z/data=!4m5!3m4!1s0x470350f29973baf5:0x989ee9a509b69735!8m2!3d52.7896908!4d18.2609614" target="_blank">
                <fa-icon  [icon]="faMapMarker"></fa-icon>Ul. Poznańska 42, 88-100 Inowrocław
            </a>
            
        </div>   
    </div>
</div>