
<div class="box">
    <!-- <h1 class="title-segment">Grafik</h1> -->
    <div class="table" >
        <div class="time_line">
            <div class="hour">16:00</div>
            <div class="hour">17:00</div>
            <div class="hour">18:00</div>
            <div class="hour">19:00</div>
            <div class="hour">20:00</div>
            <div class="hour">21:00</div>
            <!-- <div class="hour">22:00</div> -->
        </div>
        <table>
            <thead>
                <tr>
                    <th>Poniedziałek</th>
                    <th>Wtorek</th>
                    <th>Środa</th>
                    <th>Czwartek</th>
                    <th>Piątek</th>
                </tr>
            </thead>
            <tbody>
                <tr><td style="height: 20px;"></td></tr>
                <tr>
                    <td>
                        <div class="content">
                            <div data-aos="fade-left" data-aos-delay="500" data-aos-once="true" class="work blue" style="top: 25%; height: 75%;">
                                <h2>16:15 - 17:00</h2>
                                <p>TANIEC TOWARZYSKI - GR. MŁODSZA</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <!-- <div data-aos="fade-right" data-aos-delay="700" data-aos-once="true" class="work kids_mix" style="top: 50%; height: 50%;">
                                <h2>16:30 - 17:00</h2>
                                <p>TANECZNY MIX MALUCHA</p>
                            </div> -->
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-down" data-aos-delay="200" data-aos-once="true" class="work blue" style="top: 0; height: 75%;">
                                <h2>16:00 - 16:45</h2>
                                <p>TANIEC TOWARZYSKI -GR. MŁODSZA</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-up" data-aos-delay="800" data-aos-once="true" class="work green" style="top: 50%; height: 50%;">
                                <h2>16:30 - 17:00</h2>
                                <p>TANECZNY MIX MALUCHA</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <!-- <div data-aos="fade-left" data-aos-delay="600" data-aos-once="true" class="work lightgreen" style="top: 25%; height: 75%;">
                                <h2>17:15 - 18:00</h2>
                                <p>TANECZNY MIX - GR. POCZĄTKUJĄCA</p>
                            </div> -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="400" data-aos-once="true" class="work violet" style="top: 0%; height: 125%;">
                                <h2>17:00 - 18:30</h2>
                                <p>TANIEC TOWARZYSKI - GR. SPORTOWA</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <!-- <div data-aos="fade-right" data-aos-delay="400" data-aos-once="true" class="work basic" style="top: 0%; height: 125%;">
                                <h2>17:00 - 18:30</h2>
                                <p>TANIEC TOWARZYSKI - GR. sportowa</p>
                            </div> -->
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="900" data-aos-once="true" class="work violet" style="top: -25%; height: 150%;">
                                <h2>16:45 - 18:15</h2>
                                <p>TANIEC TOWARZYSKI - GR. SPORTOWA</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="900" data-aos-once="true" class="work lightgreen" style="top: 25%; height: 75%;">
                                <h2>17:15 - 18:00</h2>
                                <p>TANECZNY MIX - GR. POCZĄTKUJĄCA</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-down" data-aos-delay="300" data-aos-once="true" class="work violet" style="top: 0%; height: 150%;">
                                <h2>17:00 - 18:30</h2>
                                <p>TANIEC TOWARZYSKI - GR. SPORTOWA</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                         
                        </div>
                    </td>
                    <td>
                        <div class="content"></div>
                    </td>
                    <td>
                        <div class="content"></div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-left" data-aos-delay="900" data-aos-once="true" class="work lightorange" style="top: 0%; height: 100%;">
                                <h2>18:00 - 19:00</h2>
                                <p>HIP-HOP KIDS</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                            <div data-aos="fade-left" data-aos-delay="900" data-aos-once="true" class="work lightblue" style="top: 25%; height: 100%;">
                                <h2>19:15 - 20:15</h2>
                                <p>TOTAL BODY CONDITIONING <br> Zapisy: 791 063 192</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="300" data-aos-once="true" class="work orange" style="top: 0; height: 100%;">
                                <h2>19:00 - 20:00</h2>
                                <p>KURS TAŃCA UŻYTKOWEGO</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-down" data-aos-delay="500" data-aos-once="true" class="work red" style="top: 0; height: 100%;">
                                <h2>19:00 - 20:00</h2>
                                <p>LATINO SOLO LADIES</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-up" data-aos-delay="700" data-aos-once="true" class="work green_one" style="top: 0; height: 100%;">
                                <h2>19:00 - 20:00</h2>
                                <p>TANIEC NOWOCZESNY</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-left" data-aos-delay="900" data-aos-once="true" class="work lightblue" style="top: 25%; height: 100%;">
                                <h2>19:15 - 20:15</h2>
                                <p>TOTAL BODY CONDITIONING <br> Zapisy: 791 063 192</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                            <div data-aos="fade-left" data-aos-delay="900" data-aos-once="true" class="work dark_blue" style="top: 25%; height: 100%;">
                                <h2>20:15 - 21:15</h2>
                                <p>KURS TAŃCA TOWARZYSKIEGO DLA DOROSŁYCH</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="400" data-aos-once="true" class="work yellow" style="top: 0%; height: 100%;">
                                <h2>20:00 - 21:00</h2>
                                <p>ZUMBA</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-down" data-aos-delay="300" data-aos-once="true" class="work pink" style="top: 0%; height: 150%;">
                                <h2>20:00 - 21:30</h2>
                                <p>LATINO MIX</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-up" data-aos-delay="700" data-aos-once="true" class="work yellow" style="top: 0; height: 100%;">
                                <h2>20:00 - 21:00</h2>
                                <p>ZUMBA</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content"></div>
                    </td>
                </tr>
                <tr><td style="height: 20px;"></td></tr>

            </tbody>
        </table>
    </div>
</div>