
.filter{
    background: linear-gradient(25deg, #040404,  #2e2d2d ) !important;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.table{
    padding: 0px;
    height: 800px;;
    margin: 50px 0;
    overflow-x: auto;
    position: relative;
    .time_line{
        position: absolute;
        top: 60px;
        left: 55px;
        .hour{
            color: #000;
            font-size: 12px;
            padding-bottom: 105px;
        }
    }
    table{
        width: calc(100% - 200px);
        margin-left: 100px;
        margin-right: 100px;
        min-width: 750px;
        border-spacing: 0;
        thead{
            // background: linear-gradient(25deg, rgba(75, 186, 219, 0.7), rgb(194, 115, 255, 0.7) , rgb(27, 62, 128, 0.7) );
            background-color: #343434;

           tr, th{
               color: white;
               height: 50px;
               font-family: 'Roboto', sans-serif;
               font-size: 15px;
               letter-spacing: 3px;
               font-weight: 300;
               text-transform: uppercase;
           }
        }
        tbody{
            margin: 20px 0;
            tr{
                background-color: white;
                
                // min-height: 50px!important;
            }
            td{
                // border: 1px solid #463f3f;
                height: 120px;
                width: 100px;
                padding-top: 0;
                padding-bottom: 0;
                .content{
                    min-height: 100%;
                    min-width: 150px;
                    // background-color: red;
                    position: relative;
                    border-bottom: #efefef 1px solid;
                    margin-bottom: 0;
                    .work{
                        position: absolute;
                        margin: 0 auto; 
                        min-width: 100px;
                        width: 80%;
                        left: 10%;
                        border-radius: 5px;
                        padding: 0 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        transition: all 0.5s;
                        // background-color: rgba(119, 50, 172, 0.9);
                        // background: linear-gradient(25deg, rgba(75, 186, 219, 0.7), rgb(194, 115, 255, 0.7) , rgb(27, 62, 128, 0.7) );
                        z-index: 1000;
                        h2{
                            color: #fff;
                            font-size: 14px;
                            font-weight: 600;
                            text-align: center;
                            margin-bottom: 0px;
                            width: 100%;
                            text-align: center;
                        }
                        p{
                            color: #fff;
                            font-size: 11px;
                            font-weight: 400;
                            text-align: center;
                            margin-top: 0px;
                            width: 100%;
                            text-align: center;
                        }

                        &:hover{
                            background-color: #fff;
                            // color: rgb(194, 115, 255, 0.7);
                            // border: 1px solid rgb(194, 115, 255, 0.7);
                            color: #000;
                            border: 1px solid #000;
                            h2, p{
                                // color: rgb(194, 115, 255, 0.7);
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
        table-layout: fixed;
    }
}

.tt-gr-zaa {
    background-color: #fc8403;
}

.blue{
    background-color: #008dc9;
}

.green{
    background-color: #12c468;
}

.latino-solo {
    background-color: #874d61;
}

.red{
    background-color: #d91640;
}

.lightgreen{
    background-color: #84d119;
}

.orange{
    background-color: #fc5603;
}

.yellow{
    background-color: #c9c736;
}

.lightblue{
    background-color: #21d9d9;
}

.lightorange{
    background-color: #e89220;
}
.joga {
    background-color: #ba9957;
}
.violet{
    background-color: #7035f0;
}
.violet-2 {
    background-color: #5e4d87;
}
.pink{
    background-color: #ff3d71;
}

.green_one{
    background-color: #a8d194;
} 

.dark_blue{
    background-color: #428a89;
}

.grey {
    background-color: #343434;
    &:hover {
        background-color: #343434!important;
        color: #fff!important;
        h2, p{
            color: #fff!important;
        }
    }
}

.zumba {
    background-color: #ce1d90;
}