
<div class="box">
    <!-- <h1 class="title-segment">Grafik</h1> -->
    <div class="table" >
        <div class="time_line">
            <div class="hour">16:00</div>
            <div class="hour">17:00</div>
            <div class="hour">18:00</div>
            <div class="hour">19:00</div>
            <div class="hour">20:00</div>
            <div class="hour">21:00</div>
            <!-- <div class="hour">22:00</div> -->
        </div>
        <table>
            <thead>
                <tr>
                    <th>Poniedziałek</th>
                    <th>Wtorek</th>
                    <th>Środa</th>
                    <th>Czwartek</th>
                    <th>Piątek</th>
                </tr>
            </thead>
            <tbody>
                <tr><td style="height: 20px;"></td></tr>
                <tr>
                    <td>
                        <div class="content">
                            <!-- <div data-aos="fade-left" data-aos-delay="500" data-aos-once="true" class="work blue" style="top: 25%; height: 75%;">
                                <h2>16:15 - 17:00</h2>
                                <p>TANIEC TOWARZYSKI - GR. MŁODSZA</p>
                            </div> -->
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="700" data-aos-once="true" class="work green" style="top: 15%; height: 60%;">
                                <h2>16:15 - 16:45</h2>
                                <p>TANECZNY MIX MALUCHA (3-4 lata)<br> Marta</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-down" data-aos-delay="200" data-aos-once="true" class="work lightgreen" style="top: 0; height: 75%;">
                                <h2>16:00 - 16:45</h2>
                                <p>DANCEHALL KIDS<br><i>Zuzia</i></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="700" data-aos-once="true" class="work green" style="top: 15%; height: 60%;">
                                <h2>16:15 - 16:45</h2>
                                <p>TANECZNY MIX MALUCHA (5-6 lata)<br> Marta</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="400" data-aos-once="true" class="work lightblue" style="top: 0%; height: 75%;">
                                <h2>16:00 - 16:45</h2>
                                <p>TANIEC TOWARZYSKI <br> GR. REKREACYJNA<br> <i>Marta</i> </p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                            <!-- <div data-aos="fade-right" data-aos-delay="400" data-aos-once="true" class="work lightorange" style="top: 0%; height: 150%;">
                                <h2>17:00 - 18:30</h2>
                                <p>TANIEC TOWARZYSKI - GR. SPORTOWA</p>
                            </div> -->
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="400" data-aos-once="true" class="work lightblue" style="top: 0%; height: 75%;">
                                <h2>17:00 - 17:45</h2>
                                <p>TANIEC TOWARZYSKI <br> GR. REKREACYJNA<br> <i>Marta</i> </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-down" data-aos-delay="200" data-aos-once="true" class="work green" style="top: -25%; height: 100%;">
                                <h2>16:45 - 17:45</h2>
                                <p>DANCEHALL FEMALE<br><i>Zuzia</i></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-down" data-aos-delay="300" data-aos-once="true" class="work lightorange" style="top: 0%; height: 75%;">
                                <h2>17:00 - 17:45</h2>
                                <p>TANIEC TOWARZYSKI - GR. POCZĄTKUJĄCA<br><i>Marta</i></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                                <div class="content">
                                    <div data-aos="fade-left" data-aos-delay="900" data-aos-once="true" class="work red" style="top: 0%; height: 100%;">
                                        <h2>18:00 - 19:00</h2>
                                        <p>LADIES LATINO SOLO <br>P-OPEN<br><i>Filip</i></p>
                                    </div>
                                </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="300" data-aos-once="true" class="work latino-solo" style="top: 0; height: 100%;">
                                <h2>18:00 - 19:00</h2>
                                <p>LATINO SOLO<br>OD PODSTAW<br><i>Marta</i></p>
                                <!-- <p style="font-size: 12;color: #fc685b">termin może jeszcze ulec zmianie</p> -->
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="300" data-aos-once="true" class="work violet-2" style="top: 0; height: 100%;">
                                <h2>18:00 - 19:00</h2>
                                <p>BODYMOVEMENT/IZOLACJE<br><i>Michalina</i></p>
                                <!-- <p style="font-size: 12;color: #fc685b">termin może jeszcze ulec zmianie</p> -->
                            </div>
    
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="300" data-aos-once="true" class="work blue" style="top: 50%; height: 100%;">
                                <h2>18:30 - 19:30</h2>
                                <p>BACHATA SOLO/ FOOTWORK<br><i>Paulina</i> </p>
                                <!-- <p style="font-size: 12;color: #fc685b">termin może jeszcze ulec zmianie</p> -->
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="300" data-aos-once="true" class="work red" style="top: 0%; height: 100%;">
                                <h2>18:00 - 19:00</h2>
                                <p>SALSA SOLO<br><i>Kamil/Lidia</i> </p>
                                <!-- <p style="font-size: 12;color: #fc685b">termin może jeszcze ulec zmianie</p> -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                            <div data-aos="fade-left" data-aos-delay="900" data-aos-once="true" class="work tt-gr-zaa" style="top: 10%; height: 100%;">
                                <h2>19:10 - 20:10</h2>
                                <p>KURS TAŃCA TOWARZYSKIEGO - GR. ZAAWANSOWANA<br><i>Filip</i></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                        <div data-aos="fade-right" data-aos-delay="300" data-aos-once="true" class="work blue" style="top: 10%; height: 100%;">
                                <h2>19:10 - 20:10</h2>
                                <p>BACHATA OD PODSTAW<br><i>Michalina</i> </p>
                                <!-- <p style="font-size: 12;color: #fc685b">termin może jeszcze ulec zmianie</p> -->
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-down" data-aos-delay="500" data-aos-once="true" class="work joga" style="top: 10%; height: 100%;">
                                <h2>19:10 - 20:10</h2>
                                <p>JOGA<br>Asia</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="300" data-aos-once="true" class="work lightblue" style="top: 65%; height: 100%;">
                                <h2>19:40 - 20:40</h2>
                                <p>BACHATA (GR. ZAAWANSOWANA)<br><i>Paulina</i> </p>
                                <!-- <p style="font-size: 12;color: #fc685b">termin może jeszcze ulec zmianie</p> -->
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="300" data-aos-once="true" class="work lightorange" style="top: 10%; height: 100%;">
                                <h2>19:10 - 20:10</h2>
                                <p>SALSA LA<br><i>Kamil i Lidia</i> </p>
                                <!-- <p style="font-size: 12;color: #fc685b">termin może jeszcze ulec zmianie</p> -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                            <div data-aos="fade-left" data-aos-delay="900" data-aos-once="true" class="work yellow" style="top: 20%; height: 100%;">
                                <h2>20:20 - 21:20</h2>
                                <p>KURS TAŃCA UŻYTKOWEGO<br> <i>Filip i Marta</i> </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-down" data-aos-delay="500" data-aos-once="true" class="work violet" style="top: 20%; height: 100%;">
                                <h2>20:20 - 21:20</h2>
                                <p>BACHATA LADIES STYLING (P-OPEN) <br><i>Michalina</i></p>

                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <!-- <div data-aos="fade-down" data-aos-delay="300" data-aos-once="true" class="work pink" style="top: 50%; height: 100%;">
                                <h2>20:30 - 21:30</h2>
                                <p>RUEDA DE CASINO</p>
                            </div> -->
                            <div data-aos="fade-left" data-aos-delay="900" data-aos-once="true" class="work tt-gr-zaa" style="top: 20%; height: 100%;">
                                <h2>20:20 - 21:20</h2>
                                <p>KURS TAŃCA TOWARZYSKIEGO OD PODSTAW<br><i>Michalina</i></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="300" data-aos-once="true" class="work orange" style="top: 85%; height: 100%;">
                                <h2>20:50 - 21:50</h2>
                                <p>BACHATA LADIES STYLING OD PODSTAW<br><i>Paulina</i> </p>
                                <!-- <p style="font-size: 12;color: #fc685b">termin może jeszcze ulec zmianie</p> -->
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div data-aos="fade-right" data-aos-delay="300" data-aos-once="true" class="work pink" style="top: 20%; height: 100%;">
                                <h2>20:20 - 21:20</h2>
                                <p>RUEDA DE CASINO<br><i>Kamil i Lidia</i> </p>
                                <!-- <p style="font-size: 12;color: #fc685b">termin może jeszcze ulec zmianie</p> -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr><td style="height: 20px;"></td></tr>

            </tbody>
        </table>
    </div>
</div>