html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    *{
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }
    h1.title-white{
        font-family: 'Roboto', sans-serif;
                font-size: 35px;
        color: white;
        letter-spacing: 4px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
    h1.title-black{
        font-family: 'Roboto', sans-serif;
                font-size: 35px;
        color: black;
        letter-spacing: 4px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
    button{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: white;
        letter-spacing: 4px;
        font-weight: 300;
        text-transform: uppercase;
        border: 1px solid white;
        padding: 15px;
        margin-top: 15px;
        background-color: transparent;
    }
}
