<!-- <div class="parallax main-first">
    <div class="filter">
    <div class="text" data-aos="fade-left" data-aos-delay="500">UKS DANCE LIFE</div>
    <div class="separator" data-aos="fade-down" data-aos-delay="100"></div>
    <div class="text quot" data-aos="fade-right" data-aos-delay="1000">&quot;...z miłości do tańca&quot;</div>
    <div class="arrow-down blink" (click)="scroll(info)" data-aos="fade-up" data-aos-delay="3000">
        <fa-icon class="arrow"  [icon]="faChevronDown"></fa-icon>
    </div>
</div>
</div>
<section class="main intro"  #info>
    <h1 data-aos="fade-up" class="title-black">Opis pierwszy</h1>
    <p data-aos="fade-up" class="desc">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</section> -->
<!-- <section class="main" style="background-color: #fcfcfc" >
    <div data-aos="fade-up" class="title">
        <h1>Oferta</h1>
    </div>
    <div data-aos="fade-up" class="offers">
        <div class="offer">
            <div class="img wedding"></div>
            <div class="title"><h2>Pierwszy taniec</h2></div>
            <div class="offer-link" data-aos="fade-up"><p>Zobacz ofertę</p></div>
        </div>
        <div class="offer">
            <div class="img ladies_latino"></div>
            <div class="title"><h2>Ladies Latino</h2></div>
            <div class="offer-link" data-aos="fade-up"><p>Zobacz ofertę</p></div>
        </div>
        <div class="offer">
            <div class="img couple"></div>
            <div class="title"><h2>W parach</h2></div>
            <div class="offer-link" data-aos="fade-up"><p>Zobacz ofertę</p></div>
        </div>
        <div class="offer">
            <div class="img kids"></div>
            <div class="title"><h2>Dla dzieci</h2></div>
            <div class="offer-link" data-aos="fade-up"><p>Zobacz ofertę</p></div>
        </div>
        <div class="offer"> <div class="img middle"></div>
        <div class="title"><h2>Dla młodzieży</h2></div>
        <div class="offer-link" data-aos="fade-up"><p>Zobacz ofertę</p></div></div>
       
        <div class="offer">
            <div class="img old"></div>
            <div class="title"><h2>Dla seniorów</h2></div>
            <div class="offer-link" data-aos="fade-up"><p>Zobacz ofertę</p></div>
        </div>
    </div>
</section> -->
<div class="box">
    <h1 class="title-segment">O nas</h1>

    <section class="main intro"  #info>
        <h1 data-aos="fade-up" class="title-black">Ogólny opis szkoły</h1>
        <p data-aos="fade-up" class="desc">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </section>

    <h1 class="title-segment">Kadra</h1>

    <section class="main">

        <div class="dancer">
            <img id="img1" data-aos="fade-up" src="assets/img/misia.jpg">
            <div id="text1" data-aos="fade-up" class="desc">
                <div class="title">
                    Michalina Kuklińska
                </div>
                <p class="desc">Przyjazna niczym Kubuś Puchatek, zawsze uśmiechnięta, jak Andrzej Duda, gotowa do nowych wyzwań, jak rząd RP. Michalina zawsze pomoże w nauce tańca, rozchula stare ciała itp</p>
            </div>
        </div>
        <div class="dancer">
            <div  id="text2" data-aos="fade-up" class="desc">
                <div class="title">
                    Filip Kukliński
                </div>
                <p class="desc">Człowiek o nienagannej technice i taktyce, nauczy Cię tańca, a niekoniecznie różańca. Zna grę w statki i inne kwiatki. Wyluzowany, ale jak go wkurzysz, to pójdzie do mamy. Łukasz nie powinien rymować o 0:31</p>

            </div>
            <img id="img2" data-aos="fade-up" src="assets/img/filip.jpg">
    
        </div>
    </section>
</div>


<!-- <section class="info parallax">
    <div class="filter">
        <h1 data-aos="fade-up" class="title-white">Nasza oferta</h1>
        <div data-aos="fade-up" class="row">
            <div class="element">
                <fa-icon   [icon]="faShoePrints"></fa-icon>
                <p class="desc">Nasza oferta</p>
                <button>Sprawdź</button>
            </div>
            <div class="element">
                <fa-icon   [icon]="faCalendarAlt"></fa-icon>
                <p class="desc">Nasz harmonogram</p>
                <button>Sprawdź</button>
            </div>
            <div class="element">
                <fa-icon   [icon]="faEvelope"> </fa-icon>
                <p class="desc">Kontakt</p>
                <button>Sprawdź</button>
            </div> 
            <div class="element">
                <fa-icon   [icon]="faUserFriends"> </fa-icon>
                <p class="desc">O nas</p>
                <button>Sprawdź</button>
            </div>
        </div>
    </div>
</section> -->
